html,body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    background: linear-gradient(45deg,#bea2e7 0%, #86b7e7 100%); 
    background-size: 400% 400%;
    animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

.main-container .main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 

.main-container .main-title h2{
    display: inline-block;
    text-align: center;
    position: relative;
    color: rgb(24, 16, 70);
    font-family: 'Tangerine', serif;
    font-size: 70px;
}




.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}


.swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper .swiper-wrapper{
  display: flex;
  align-items: center;
}

.swiper-slide img {
  display: block;
  max-width: 300px;
  max-height: 300px;
}

.swiper-slide{
    padding: 30px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    background: #E3E3E3;
    box-shadow: 2px 2px 3px rgba(49, 49, 49, 0.5);
}

.swiper-slide .img img{
    height: 150px;
    width: 220px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px rgba(49, 49, 49, 0.5);
}

.sub-content{
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}

.sub-content p, .nameMetodo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    
}



.sub-content a{
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(#bea2e7 0%, #86b7e7 100%);
    /* width: 30vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px rgba(49, 49, 49, 0.5);
}